<ion-header>
  <ion-toolbar class="header-color">
    <ion-title>Feedback request: </ion-title>
    <ion-text>
      Proffesor name
      <!-- to be made dynamic -->
    </ion-text>
    <!--
      <ion-icon slot="end" name="arrow-back"></ion-icon>
    -->
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="getPreviousForm()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item class="context">
      <ion-label>Choose the context</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="context1">context1</ion-select-option>
        <ion-select-option value="context2">context2</ion-select-option>
        <ion-select-option value="context3">context3</ion-select-option>
        <!-- add context in here -->
      </ion-select>
    </ion-item>

    <ion-item class="remarks centrally-aligned">
      <ion-label position="stacked">Remarks on topic</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </div>

  <!-- make the button open phone's files, so the user can attach shit. -->
  <div class="attachment centrally-aligned">
    <button ion-button icon-start (click)="alert()">
      <ion-icon name="attach"></ion-icon>
    </button>

    <ion-text>name of the attachment</ion-text>

    <button ion-button icon-start (click)="alert()">
      <ion-icon name="close"></ion-icon>
    </button>
  </div>

  <div class="request-button centrally-aligned">
    <ion-button class="inactive">Request</ion-button>
  </div>

  <div id="ushite-na-petar-sa-golemi">
    <ion-grid class="bottom-menu centrally-aligned">
      <ion-row>
        <ion-col offset="1" size="3">
          <div>
            <button ion-button icon-start (click)="alert()">
                <ion-icon name="image"></ion-icon>
             </button>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
              <button ion-button icon-start (click)="alert()">
                  <ion-icon name="mic"></ion-icon>
               </button>
          </div>
        </ion-col>
        <ion-col size="3">
          <div>
              <button ion-button icon-start (click)="alert()">
                  <ion-icon name="paper"></ion-icon>
               </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>