body {
    color: #3d3d3d;
}

#mic-btn {
    padding: 0.425em;
    font-size: 1.25em;
}

.heading ion-icon {
    padding: 0.5em;
    font-size: 1.5em;
}

button {
    border-radius: 50px;
    background-color: #e36307;
}

.heading {
    background-color: #f2f2f2;
    text-align: center;
    border-bottom: 5px solid #a79a9a;
}

.heading ion-icon {
    font-size: 3em;
    padding: 0.1em;
    text-align: left;
}

.feedback-list ion-row {
    border-bottom: 1px solid #3d3d3d;
    text-align: center;
    font-size: 1em;
}
 
ion-icon {
    padding: 0.25em;
    font-size: 1em;
}

ion-row {
    width: 80%;
    margin: auto;
    display: table;
    overflow: hidden;
}

ion-col {
    display: table-cell;
    vertical-align: middle;
}