<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="1" size ="8">
        <ion-searchbar></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <button class="light"><ion-icon name="mic"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="heading">
      <ion-col offset="1" size="8" ion-button (click)="toggleLatestFeedback()"><h1>Most recent feedback given</h1></ion-col>
      <ion-col size="2" class="header-arrow" ion-button (click)="toggleLatestFeedback()">
        <ion-icon name="arrow-dropright-circle" *ngIf="!isLatestFeedbackToggled"></ion-icon>
        <ion-icon name="arrow-dropdown-circle" *ngIf="isLatestFeedbackToggled"></ion-icon>
      </ion-col>
    </ion-row>
    <div class="feedback-list" *ngIf="isLatestFeedbackToggled">  
       <ion-row>  
          <ion-col offset="1" size="8"><h2>Last feedback</h2></ion-col>
          <ion-col size="2"><button shape="round" fill="outline"><ion-icon name="play"></ion-icon></button></ion-col>
        </ion-row>
      </div>
  </ion-grid>

  <ion-grid>
    <ion-row class="heading">
      <ion-col offset="1" size="8" ion-button (click)="toggleOldFeedback()"><h1>Older feedback given</h1></ion-col>
      <ion-col size="2" ion-button (click)="toggleOldFeedback()">
        <ion-icon name="arrow-dropright-circle" *ngIf="!isOldFeedbackToggled"></ion-icon>
        <ion-icon name="arrow-dropdown-circle" *ngIf="isOldFeedbackToggled"></ion-icon>
      </ion-col>
    </ion-row>
    <div class="feedback-list" *ngIf="isOldFeedbackToggled">  
        <ion-row *ngFor="let feedback of feedbacksGiven">  
          <ion-col offset="1" size="8"><h2>{{feedback}}</h2></ion-col>
          <ion-col size="2"><button shape="round" fill="outline"><ion-icon name="play"></ion-icon></button></ion-col>
        </ion-row>
      </div>
  </ion-grid>
</ion-content>
