<ion-header>
  <title>Login</title>
</ion-header>

<ion-content>
  <form id="form" (keyup)="checkCurrentForm()" (ngSubmit)="login()">
    <ion-text>
      <h1 class="ion-text-center">Login</h1>
    </ion-text>
    <ion-item [ngClass]="isUsernameValid ? 'valid_input' : 'invalid_input'">
      <ion-label position="floating">
        Username <ion-icon [ngClass]="wrongCredentials ? 'unknown-login' : 'invalid-login'" name='close'></ion-icon>
      </ion-label>
      <ion-input  type="text" placeholder="Username" name="username" id="username"
      [(ngModel)]="userCredentials.username" minLength="3" maxLength="100" #username="ngModel"></ion-input>
    </ion-item>
    <ion-item [ngClass]="isPasswordValid ? 'valid_input' : 'invalid_input'">
      <ion-label position="floating">
        Password <ion-icon [ngClass]="wrongCredentials ? 'unknown-login' : 'invalid-login'" name='close'></ion-icon>
      </ion-label>
      <ion-input type="password" placeholder="Password" name="password" id="password"
      [(ngModel)]="userCredentials.password" minLength="3" maxLength="100" #password="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Remember me</ion-label>
      <ion-checkbox [(ngModel)]="userCredentials.remembered" name="remembered" id="remembered"></ion-checkbox>
    </ion-item>
    <div class="ion-text-center">
      <button type="submit" [ngClass]="isFormValid ? 'valid_form' : 'invalid_form'" [disabled]="!isFormValid">Log in</button>
    </div>
  </form>
</ion-content>
