<ion-header>
</ion-header>

<ion-content>
  <div class="form">
    <ion-text>
      <h1 class="ion-text-center">Login</h1>
    </ion-text>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input placeholder="Password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Do you want to be remembered?</ion-label>
      <ion-checkbox></ion-checkbox> 
    </ion-item>
    <div class="ion-text-center">
      <button>Log in</button>
    </div>
  </div>
</ion-content>
