body {
    color: #3d3d3d;
}

form {
    width: 60%;
    margin: auto;
}

h1 {
    color: #e36307;
}

ion-checkbox {
    --background-checked: #e36307;
    --border-color-checked: #7b7b7b;
}

.valid_form {
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1em;
    color: #f2f2f2;
    background-color: #e36307;
}

.invalid_form {
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1em;
    color: #f2f2f2;
    background-color: #3d3d3d;
}

ion-item.valid_input {
    --highlight-color-focused: #e36307;
    --highlight-color-invalid: #e36307;
    --highlight-color-valid: #e36307;
}

ion-item.invalid_input {
    --highlight-color-focused: #3d3d3d;
    --highlight-color-invalid: #3d3d3d;
    --highlight-color-valid: #3d3d3d;
}

.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h {
    --color: #e36307 !important;
    color: #e36307 !important; 
    font-weight: bold;
    font-size: 1em;
}

@keyframes flickerAnimation {
    0%   { opacity:0; }
    25%  { opacity:0.5; }
    50%  { opacity:1; }
    75%  { opacity: 0.5; }
    100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:0; }
    25%  { opacity:0.5; }
    50%  { opacity:1; }
    75%  { opacity: 0.5; }
    100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:0.5; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:0; }
    25%  { opacity:0.5; }
    50%  { opacity:1; }
    75%  { opacity: 0.5; }
    100% { opacity:0; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 1s 4;
    -moz-animation: flickerAnimation 1s 4;
    -o-animation: flickerAnimation 1s 4;
    animation: flickerAnimation 1s 4;
}

.error {
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1em;
    color: #f2f2f2;
    background-color: #3d3d3d;
}