ion-icon {
    font-size: 3rem;
    color: #f2f2f2;
}

ion-title {
    font-size: 2rem;
}

ion-label {
    font-size: 1rem;
}

ion-list {
    padding-top: 0em;
    padding-bottom: 0em;
}

.sc-ion-card-md-h {
    margin-top: 0em;
    box-shadow: none;
}