<ion-header>
  <ion-toolbar class="main-toolbar">
      <ion-buttons slot="start">
        <ion-icon name="md-arrow-back" (click)="goToStudentHomePage()"></ion-icon>
      </ion-buttons>
    <ion-title>Request Feedback</ion-title>
  </ion-toolbar>

  <ion-toolbar class="secondary-toolbar">
    <ion-segment>
      <ion-segment-button value="students" checked (click)="goToLecturers()">
        Lecturers
      </ion-segment-button>
      <ion-segment-button value="classes" (click)="goToCourses()">
        Courses
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- if this gets deleted the content is removed -->
  <ion-tabs>
  </ion-tabs>
</ion-content>
