.main-toolbar {
    --background: #e36307;
    color: #f2f2f2;
}

.secondary-toolbar ion-segment-button {
    --background-hover: #f2f2f2;
    --color-checked: #e36307;
    --color-unchecked: #f2f2f2;
}

.secondary-toolbar ion-segment-button {
    --background-hover: #f2f2f2;
    --color-checked: #e36307;
    --color-unchecked: #f2f2f2;
}

ion-icon.back-btn {
    font-size: 3rem;
    color: #f2f2f2;
}

ion-title {
    font-size: 2rem;
}

body {
    color: #3d3d3d;
}

form {
    width: 60%;
    margin: auto;
}

.valid_form {
    color: #f2f2f2;
}

.invalid_form {
    color: #f2f2f2;
}

ion-item.valid_input {
    --highlight-color-focused: #e36307;
    --highlight-color-invalid: #e36307;
    --highlight-color-valid: #e36307;
}

ion-item.invalid_input {
    --highlight-color-focused: #3d3d3d;
    --highlight-color-invalid: #3d3d3d;
    --highlight-color-valid: #3d3d3d;
}

.item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h, .item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h {
    --color: #e36307 !important;
    color: #e36307 !important; 
    font-weight: bold;
    font-size: 1em;
}
ion-item.feedback-actions {
    display: inline-block;
    margin: auto;
}

ion-button.primary-action-icon, ion-button.secondary-action-icon {
    --border-width: 1px;
    --border-radius: 10px; 
    height: 3rem;
    --background: #f2f2f2;
}

.primary-action-icon ion-icon {
    font-size: 3rem;
    color: #e36307;
}

.secondary-action-icon ion-icon {
    font-size: 2rem;
    color: #3d3d3d; 
}