<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/student-home'"></ion-back-button>
          </ion-buttons>
      <ion-title>Request Feedback</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="lecturers">
            <ion-label> Lecturers </ion-label>
            <ion-icon name="school"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="courses">
              <ion-label> Courses </ion-label>
            <ion-icon name="flask"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
