<ion-header>
  <ion-toolbar class="main-toolbar">
      <ion-buttons slot="start">
          <ion-back-button [defaultHref]="'/lecturer-home'"></ion-back-button>
        </ion-buttons>
    <ion-title>Give Feedback</ion-title>
  </ion-toolbar>

  <ion-toolbar class="secondary-toolbar">
    <ion-segment>
      <ion-segment-button value="students" checked (click)="goToStudents()">
        Students
      </ion-segment-button>
      <ion-segment-button value="classes" (click)="goToClasses()">
        Classes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- if this gets deleted the content is removed -->
  <ion-tabs>
  </ion-tabs>
</ion-content>



