
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button [defaultHref]="'/lecturer-home'"></ion-back-button>
        </ion-buttons>
    <ion-title>Give Feedback</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="students">
            <ion-label> Students </ion-label>
            <ion-icon name="person"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="student-classes">
              <ion-label> Classes </ion-label>
            <ion-icon name="people"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>



