.ios,
.md,
.wp {
    .home {
        --background: #e36307;
        color: #f2f2f2;
    }

    ion-icon {
        font-size: 3rem;
        color: #f2f2f2;
    }

    ion-title {
        font-size: 2rem;
    }

    .latest-feedback {
        font-size: 1rem;
        color: #7b7b7b;
        font-weight: bold;
        text-align: left;
    }

    .list-option {
        --background: #f2f2f2;
        color: #3d3d3d;
    }

    .list-label {
        font-size: 2rem;
    }

    ion-label {
        font-size: 1rem;
    }
}

ion-list {
    padding-top: 0em;
    padding-bottom: 0em;
}

.sc-ion-card-md-h {
    margin-top: 0em;
    box-shadow: none;
}

ion-fab-button {
    --background: #ff9340; // contrast color to the main orange we use
}
