<ion-toolbar class="main-toolbar">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button button (click)="settingsPopover($event)">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  
  <ion-toolbar class="secondary-toolbar">
    <ion-segment>
      <ion-segment-button value="all" checked ion-button (click)="toggleFeedbackScreen(false)">
        Received
      </ion-segment-button>
      <ion-segment-button value="favorites" ion-button (click)="toggleFeedbackScreen(true)">
        Responses
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  <ion-content>
    <ion-list *ngIf="areFeedbacksToggled">
      <ion-item *ngFor="let feedback of feedbacks">
        <ion-avatar slot="start" button (click)="showFeedbackModal(feedback)">
          <ion-icon color="medium" name="today"></ion-icon>
        </ion-avatar>
        <ion-label button (click)="showFeedbackModal(feedback)">
          <h2>{{ lecturerIdNameDictionary.get(feedback.senderId.toString()) }}</h2>
          <h3>{{ feedback.description }}</h3>
          <p>{{ feedback.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!areFeedbacksToggled">
      <ion-item *ngFor="let feedback of feedbackResponses">
        <ion-avatar slot="start" button (click)="showFeedbackModal(feedback)">
          <ion-icon color="medium" name="md-checkmark-circle"></ion-icon>
        </ion-avatar>
        <ion-label button (click)="showFeedbackModal(feedback)">
          <h2>{{ lecturerIdNameDictionary.get(feedback.senderId.toString()) }}</h2>
          <h3>{{ feedback.description }}</h3>
          <p>{{ feedback.date }}</p>
        </ion-label>
      </ion-item>
    </ion-list>  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button button (click)="requestFeedback()">
        <ion-icon name="md-add"></ion-icon>
      </ion-fab-button>
    </ion-fab> 
  </ion-content>