<ion-header>
  <ion-toolbar class="headerColor">
    <ion-icon name="school" slot="start"></ion-icon>
    <ion-title>
      Classes
    </ion-title>
    <ion-icon name="menu" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>DHI2V.Sp(20/20)</ion-label>
      <ion-icon name="arrow-dropright" slot="end" class="iconColor"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>DHI2V.Sq(15/20)</ion-label>
      <ion-icon name="arrow-dropright" slot="end" class="iconColor"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>DHI2V.Sr(16/19)</ion-label>
      <ion-icon name="arrow-dropdown" slot="end" class="iconColor"></ion-icon>
    </ion-item>
  </ion-list>

  <br>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Online students</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>[online students]</ion-label>
          <ion-icon name="arrow-dropdown" slot="end" class="iconColor"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Offline students</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>[offline students]</ion-label>
          <ion-icon name="arrow-dropdown" slot="end" class="iconColor"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  